li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
}

.label {
  min-width: 10px;
}

.progressbar {
  width: 100%;
  height: 12px;
  background-color: var(--progress-bar-background);
  border-radius: var(--radius-full);
}

.progressbar__indicator {
  height: 12px;
  width: var(--progress-width, 0%);
  border-radius: var(--radius-full);
  background-color: var(--color-purple-400);
}

.progressbar__detail {
  text-align: right;
  min-width: 110px;
}
