header {
  display: flex;
  flex-direction: row;
  justify-items: between;
  height: 40px;
  margin-top: var(--spacing-400);
}

.logo {
  margin-right: auto;
}

.settings__button {
  width: 44px;
  min-width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-background);
  border: none;
  border-radius: var(--radius-8);
  cursor: pointer;
}

.settings__button:focus-visible {
  outline: 2px solid var(--color-purple-500);
  outline-offset: 2px;
}

.settings__button__icon {
  width: 22px;
  height: 22px;
}
